body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


header{
    width: 100%;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

nav{
    width: 100%;
    padding: 43% 0 10% 0;
    text-align: center;
}

nav a{
    padding: 40px;
    font-size: 1.6em;
    font-weight: 300;
    text-decoration: none;
    color: white;
    background: rgba(0,0,0,.4);
    margin-right: 12px;
    border-radius: 15px;
}

nav a:hover{
    background: rgba(0,0,0,.8);
    color: white;
}




#checkout{
    margin: 0 auto;
    text-align: center;
}






/* top section */


#top_section{
    width: 100%;
    margin: 0 auto;
}

#retain{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


#picture{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#picture img{
    max-width: 100%;
}


#retain>h1{
    font-weight: 700;
    font-size: 400%;

}


p, .table-responsive{
    font-size: 1.2em;
}

.table{
    width: 50%;
    margin: 0 auto;
}

#retain>article{
    width: 100%;
    text-align: center;
    margin-left: 19.6%;
}


 #retain article>p{
     width: 60%;
     font-size: 1.4em;
     padding-top: 12px;
     font-weight: 400;

}


form{
    margin: 0 auto;
    text-align: center;
    width: 425px;
 }









/* Bottom Half */




#second_half{
    width: 80%;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}

#second_half>section>h1{
    font-weight: 400;
    font-size: 3.4em;
    margin-left: 32px;
}



#second_half>section>h1>a{
    margin-left: 22px;

}


#usability{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 10px;
}

#usability>h2{
    font-weight: 400;
}

#usability .table-responsive{
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

#second_half article>p{
    width: 60%;
    font-size: 1.4em;
    padding-top: 12px;
    font-weight: 400;
    margin: 0 auto;

}









/* footer */


.footer{
    font-size: 1em;
    padding-top: 300px;
}


.footer a{
    margin: 0 1em;
}



.copyright{
    margin-bottom: 50px;
    margin-top: 50px;
}









/* modal */

#mask{
    position:absolute; /* important */
    top:0; /* start from top */
    left:0; /* start from left */
    height:100%; /* cover the whole page */
    width:100%;  /* cover the whole page */
    display:none; /* don't show it '*/

    /* styling bellow */
    background-color: black;
}

.modal_window{
    position:absolute; /* important so we can position it on center later */
    display:none; /* don't show it */

    /* styling bellow */
    color:white;
    font-size: 1.3em;
}














/* media queries */





@media only screen and (min-width : 768px) and (max-width : 1800px) {


    body{
        text-align: center;
    }

    #picture{
        float: none;
        width: 80%;
        display: block;
        margin-left: 10%;
        margin-top: 32px;
    }

    #retain{
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    #retain article>p{
        width: 80%;
        font-size: 1.2em;
        padding-top: 12px;
        font-weight: 400;
        margin-left: 10%;

    }

    #retain>article{
        width: 100%;
        margin-left: 0;
    }

    #retain>.table-responsive{
        width: 80%;
        margin: 0 auto;
    }


    #second_half{
        padding-top: 30px;
    }


    #second_half article>p{
        width: 80%;
        font-size: 1.2em;
        padding-top: 12px;
        font-weight: 400;
        margin-left: 10%;

    }

    #second_half>article{
        width: 100%;
        margin-left: 0;
    }



}



















@media (max-width: 768px){



    body{
        text-align: center;
    }

    #picture{
        float: none;
        width: 100%;
        display: block;
        margin: 22px 0 0 0;
        padding: 0;
    }

    #retain{
        display: block;
        width: 80%;
        margin: 0 auto;
    }


    #retain article>p{
        width: 80%;
        font-size: 1.2em;
        padding-top: 12px;
        font-weight: 400;
        margin-left: 10%;

    }

    #retain>article{
        width: 100%;
        margin-left: 0;
    }



    .table-responsive{
        margin: 0 auto;
    }



    form{
        text-align: center;
    }



    #second_half{
        padding-top: 30px;
    }

    #second_half article>p{
        width: 90%;
        font-size: 1.2em;
        padding-top: 12px;
        font-weight: 400;
        margin-left: 10%;

    }

    #second_half>article{
        width: 100%;
        margin-left: 0;
    }


    #usability>.table-responsive{
        width: 100%;
    }


    iframe{
        display: none;
    }

    nav a{
        padding: 12px;
    }

    .footer{margin-top: 2em;padding-bottom: 2em;}
}










